header {
  width: 100%;
  max-width: 1200px;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}
div.logo p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  letter-spacing: 1px;
}
div.logo p span {
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  color: rgb(4 9 30);
  font-size: 1.4rem;
}
nav {
  margin-left: auto;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav ul li a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #e1e1e1;
}
nav ul li a:hover {
  color: #fff;
}
div.search {
  margin-left: 2rem;
  position: relative;
}
form {
  position: relative;
}
div.form-background {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255 255 255 / 85%);
  transition: background-color 100ms ease-in-out,
    border-bottom-left-radius 100ms ease-in-out 300ms,
    border-bottom-right-radius 100ms ease-in-out 300ms;
  z-index: -1;
}
form input {
  width: 240px;
  height: 2.3rem;
  border-radius: var(--border-radius);
  border: 0;
  outline: none;
  padding: 0 2rem 0 3rem;
  font-size: 0.9rem;
  color: #040a1d;
  background-color: transparent;
  position: relative;
}
form input:focus {
  z-index: 1;
}
form input:focus ~ div.form-background {
  background-color: rgba(255 255 255 / 100%);
}
form input[data-results="1"] ~ div.form-background {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: background-color 100ms ease-in-out,
    border-bottom-left-radius 100ms ease-in-out,
    border-bottom-right-radius 100ms ease-in-out;
}
span.flag {
  width: 2rem;
  aspect-ratio: 3/2;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}
span.no-flag {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #cacaca;
}
span.location {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  font-size: 1.1rem;
  color: #121213;
  line-height: 0;
}
div.form-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: var(--border-radius);
  cursor: pointer;
}
div.results {
  width: 100%;
  min-height: 0;
  height: 0;
  background-color: #fff;
  top: 2.3rem;
  left: 0;
  position: absolute;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: min-height 200ms linear;
  overflow: hidden;
}
div.results[data-results="1"] {
  min-height: 2.5rem;
  height: fit-content;
}
div.results[data-results="0"] {
  min-height: 0rem;
  background-color: rgba(255 255 255 / 85%);
}
div.results * {
  opacity: 0;
}
div.results[data-results="1"] * {
  opacity: 1;
  transition: opacity 100ms ease 100ms;
}
div.results[data-results="0"] * {
  opacity: 0;
  transition: opacity 100ms ease;
}
div.results div.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid rgba(0 0 0 / 10%);
}
div.results div.loading::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #2196f3;
  border-top-color: rgba(33, 150, 243, 25%);
  border-radius: 1rem;
  animation: spin 250ms infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
div.results ul {
  width: 100%;
  list-style: none;
  background-color: #fff;
  position: relative;
  border-top: 1px solid rgba(0 0 0 / 10%);
}
div.results ul li {
  width: 100%;
  height: 2.5rem;
}
div.results ul li:first-of-type {
  border-top: 0px;
}
div.results ul li button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.9rem;
  color: #14171f;
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}
div.results ul li button span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
div.results ul li button:hover {
  background-color: #f1f1f1;
}
div.results p {
  width: 100%;
  height: 2.5rem;
  display: block;
  position: relative;
  background-color: #fff;
  color: #040a1d;
  font-size: 0.9rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0 0 0 / 10%);
}
